<%- include("partials/header"); -%>

<div class="container">
    <h1 class="my-4">Shopping Cart</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach((product) => { %>
          <tr>
            <th scope="row">1</th>
            <td><%= product.name %></td>
            <td>$99</td>
            <td>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary minus-btn" type="button">-</button>
                </div>
                <input type="number" class="form-control qty-input" value="1" min="1" max="100">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary plus-btn" type="button">+</button>
                </div>
              </div>
            </td>
            <td>$99</td>
            <td>
              <button class="btn btn-outline-danger remove-btn" type="button">Remove</button>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-outline-secondary continue-shopping-btn" type="button"><a href="\">Continue Shopping</a></button>
      </div>
      <div class="col-md-6 text-right">
        <h4>Total: $99</h4>
        <button class="btn btn-primary checkout-btn" type="button">Checkout</button>
      </div>
    </div>
  </div>
  
  <%- include("partials/footer"); -%>