<div class="similar-products">
    <h3>Similar Products</h3>
    <div id="similar-products-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% for(let i=0; i<similarProducts.length; i+=4) { %>
          <div class="carousel-item <% if(i===0) { %>active<% } %>">
            <div class="row">
              <% for(let j=i; j<i+4 && j<similarProducts.length; j++) { %>
                <div class="col-md-3">
                  <div class="card">
                    <img class="card-img-top" src="<%=image%>" alt="<%=similarProducts[j].name%>">
                    <div class="card-body">
                      <h5 class="card-title"><%=similarProducts[j]%></h5>
                      <p class="card-text"><%=similarProducts[j].description%></p>
                      <a href="/" class="btn btn-primary">View Product</a>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
      <a class="carousel-control-prev" href="#similar-products-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#similar-products-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  